[submodule ".registry"]
	path = .registry
	url = https://github.com/cidm-ph/cidm-ph.r-universe.dev
	branch = HEAD
[submodule "cartographer"]
	path = cartographer
	url = https://github.com/cidm-ph/cartographer
[submodule "epifish"]
	path = epifish
	url = https://github.com/learithe/epifish
[submodule "ggautomap"]
	path = ggautomap
	url = https://github.com/cidm-ph/ggautomap
[submodule "ggmapinset"]
	path = ggmapinset
	url = https://github.com/cidm-ph/ggmapinset
[submodule "nswgeo"]
	path = nswgeo
	url = https://github.com/cidm-ph/nswgeo
