[submodule ".registry"]
	path = .registry
	url = https://github.com/cidm-ph/universe
	shallow = true
	branch = HEAD
[submodule "ggmapinset"]
	path = ggmapinset
	url = https://github.com/cidm-ph/ggmapinset
	shallow = true
	registered = true
